body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#watermark {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

#watermark img {
  width: 30px;
  height: 30px;
}
